/* ----------
common font 
------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* -------------
   header style 
   -------------*/
header{
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 80px;
}
h1{
    font-size: 52px;
}
h3{
    font-size: 24px;
}
.for-width{
    max-width: 100%;
}
.influencer-journey{
    display: flex;
}
.links{
    text-decoration: none;
    color: white;
    background-color: #8E806A;
    border-radius: 10px;
    padding: 0 10px;
}
.influencer-tool img{
    width: 590px;
    height: 414px;
}
/* ----------------
   header transition 
   ------------------*/
.influencer-tool:hover img{
    transform: scale(1.1) rotate(5deg);
    transition: transform 2s linear;
}
.half-width{
    width: 50%;
}

/*------------------------
   popular collection style 
   ------------------------*/
.collection-info{
    margin: 100px;
}
.collection-products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.collection-info h2{
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}
.product{
    box-shadow: 5px 5px 5px 5px grey;
    width: 329px;
    height: 470px;
    border-radius: 10px;
    padding: 20px;
}
.product-image{
    width: 300px;
    height: 256px;
    padding-top: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
.fa-star{
    height: 16px;
    width: 16px;
}
.filled{
    color: #FB8200;
}
.empty{
    color: rgb(153, 150, 150);
}
#special-link{
    text-decoration: none;
    color: #7c643d;
    font-weight: 600;
    font-size: 20px;
     position: relative;
    left: 1000px; 
    margin-top: 20px;
}
footer{
    background-color: rgb(4, 4, 29);
    color: rgb(163, 158, 158);
    text-align: center;
    padding: 40px;
}

/*---------- 
   extra part
   ---------- */
.new-sec{
    margin: 50px;
    width: 100%;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right;
}
.image{
    width: 200px;
    height: 200px;
}

/* for responsiveness */
/* for-mobile */
@media only screen and (max-width:688px) {
    .main{
        width: 100%;
    }
    .influencer-journey{
        flex-direction: column;
        justify-content: center;
    }
    .collection-products{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}